---
---
{% include head.html %}

{% include nav.html %}

{% include carousel.html %}

<div class="flex flex-col sm:flex-row sm:max-w-screen-xl w-full mx-auto mt-12">
  <div class="w-80 mx-auto sm:w-1/3 sm:ml-8 sm:mr-8 mb-5 sm:mb-0 text-center bg-neutral-200">
    <div class="h-64 bg-green-700">
      
    </div>
    <div class="p-5">
      <h4 class="font-yeseva text-xl mb-5 uppercase">The Travels of Rabble</h4>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet.</p>
      <a href="#" class="w-40 block px-2 py-4 mt-5 bg-black text-white font-medium mx-auto">See More</a>
    </div>
  </div>

  <div class="w-80 mx-auto sm:w-1/3 sm:ml-8 sm:mr-8 mb-5 sm:mb-0 text-center bg-neutral-200">
    <div class="h-64 bg-green-700">
      
    </div>
    <div class="p-5">
      <h4 class="font-yeseva text-xl mb-5 uppercase">Safety First</h4>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet.</p>
      <a href="#" class="w-40 block px-2 py-4 mt-5 bg-black text-white font-medium mx-auto">See More</a>
    </div>
  </div>

  <div class="w-80 mx-auto sm:w-1/3 sm:ml-8 sm:mr-8 mb-5 sm:mb-0 text-center bg-neutral-200">
    <div class="h-64 bg-green-700">
      
    </div>
    <div class="p-5">
      <h4 class="font-yeseva text-xl mb-5 uppercase">Contact</h4>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet.</p>
      <a href="#" class="w-40 block px-2 py-4 mt-5 bg-black text-white font-medium mx-auto">See More</a>
    </div>
  </div>
</div>

{% include footer.html %} 