---
---
{% include head.html %}
  
{% include nav.html %}

<div class="max-w-screen-lg w-full mx-auto mt-12 sm:mt-24">
  <h1 class="font-yeseva text-6xl ml-5 sm:ml-0 mb-12">Popular Culture</h1>

  <div class="flex flex-col sm:flex-row w-full">
    <div class="sm:w-2/5 sm:mr-5 sm:order-2">
      <img class="mb-5 sm:mb-0" src="/images/carousel-1.jpg">
    </div>

    <div class="sm:w-3/5 pl-5 sm:pl-0 pr-5 sm:order-1">
      <p class="mb-5">Lorem ipsum dolor sitope amet, consectetur adipisicing elitip. Massumenda, dolore, cum vel modi asperiores consequatur suscipit quidem ducimus eveniet iure expedita consecteture odiogil voluptatum similique fugit voluptates atem accusamus quae quas dolorem tenetur facere tempora maiores adipisci reiciendis accusantium voluptatibus id voluptate tempore dolor harum nisi amet! Nobis, eaque. </p>

      <p class="mb-5">Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit leget odiogil voluptatum similique fugit voluptates dolor. Libero assumenda, dolore, cum vel modi asperiores consequatur.</p>

      <p class="mb-5">Ut et scelerisque libero, ac rutrum justo. Vestibulum quis metus id lorem elementum ullamcorper eget a sapien. Proin in risus ornare odio lacinia consectetur. Pellentesque facilisis arcu consectetur est pulvinar luctus. Nunc finibus arcu ut euismod porttitor. Vivamus quis cursus eros. Ut vitae nulla nec nisl condimentum facilisis sed a turpis. Aliquam rhoncus, est gravida pellentesque consequat, lacus neque blandit dolor, nec ullamcorper enim ipsum a ex. Aliquam mauris velit, ultricies et pellentesque porta, sollicitudin a eros. Quisque lectus sapien, volutpat in tristique in, vestibulum a nisl. Ut maximus tellus eu dignissim lobortis. Sed aliquam, quam eu sagittis accumsan, ligula tortor tempor ipsum, vel fermentum justo ipsum eget mauris. Proin felis justo, egestas vel ex id, dictum eleifend odio.</p>

      <p class="mb-5">Pellentesque pulvinar id turpis id venenatis. Aenean augue odio, pharetra et viverra ac, rutrum in eros. Integer rutrum volutpat vulputate. Nulla faucibus ex nec dignissim posuere. Nunc vel eros dolor. Suspendisse potenti. Sed in erat mi.</p>
    </div>
  </div>
</div>
  
{% include footer.html %}