---
---
{% include head.html %}
  
{% include nav.html %}

<div class="max-w-screen-lg w-full mx-auto mt-12 sm:mt-24">
  <h1 class="font-yeseva text-6xl ml-5 sm:ml-0 mb-12">Same Sex History</h1>

  <div>
    <h2 class="font-bold mb-5">For Gay Men</h2>
    <p class="mb-5">In the UK, gay people have exactly the same laws and rules as straight people. It hasn’t always been like that, here is a very brief overview:</p>
    <p class="mb-5">Homosexual acts between men were illegal for many years. The first law regarding gay sex was passed in 1533, when The Buggery Act made penetrative gay sex, punishable by death – yes death.</p>
    <p class="mb-5">The death penalty for homosexuality was abolished in 1861.</p>
    <p class="mb-5">In 1885, all sex acts between men were categorised as gross indecency and were punishable by law. The author Oscar Wilde was convicted under this law and served two years hard labour in prison.</p>
    <p class="mb-5">In 1957 the Wolfenden Committee recommended the decriminalisation of homosexual relationships. This did not happen until the 1967 Sexual Offences Act was passed. The act permitted homosexual acts between consenting adults over the age of 21 in England and Wales. It specified that the acts had to be in private. Scotland followed this in 1980.</p>
    <p class="mb-5">In 1994, the age of consent for gay men was lowered to 18 years old. Full equality with heterosexual laws came in 2000 with the Sexual Offences (Amendment) Act.</p>

    <h2 class="font-bold mb-5">Gay Women</h2>
    <p class="mb-5">Sex for gay women in the UK has never been specifically targeted by law in the UK.</p>

    <h2 class="font-bold mb-5">Worldwide Gay Laws</h2>
    <p class="mb-5">The countries where it is illegal to be gay:</p>
    <p class="mb-5">In 2024, it is illegal to engage in gay relationships in 64 United Nations member states. The death penalty can be imposed in six countries, and in another five countries, the death penalty is also possible in some circumstances. Other punishments include a prison sentence, fine, whipping (Malaysia), and 100 lashes (Maldives).</p>
    <p class="mb-5">“The International Lesbian, Gay, Bisexual, Trans and Intersex Association (ILGA) monitors the progress of laws relating to homosexuality around the world. It says the death penalty is the legally prescribed punishment for same-sex sexual acts in Brunei, Iran, Mauritania, Saudi Arabia, Yemen, and in some northern states of Nigeria. In five countries - Afghanistan, Pakistan, Qatar, Somalia, and the United Arab Emirates - there is no legal clarity and the death penalty could be applied.”</p>
    <p class="mb-5">From BBC at: <a href="https://www.bbc.co.uk/news/world-43822234" class="text-blue-500">https://www.bbc.co.uk/news/world-43822234</a></p>
    <p class="mb-5">If you are gay, trans, or present as what may be thought of as a ‘diverse gender expression’ and like to travel, you should be aware of the places that could be difficult for you. You should check before you make travel plans.</p>
    <p class="mb-5">Look at the government guidance here: <a href="https://www.gov.uk/guidance/lesbian-gay-bisexual-and-transgender-foreign-travel-advice" class="text-blue-500">https://www.gov.uk/guidance/lesbian-gay-bisexual-and-transgender-foreign-travel-advice</a></p>
    <p class="mb-5">For another quick browse, you can look at the Pink News here: <a href="https://www.thepinknews.com/2024/06/21/how-many-countries-is-it-illegal-to-be-gay/" class="text-blue-500">https://www.thepinknews.com/2024/06/21/how-many-countries-is-it-illegal-to-be-gay/</a></p>
  </div>

  <div class="flex flex-col sm:flex-row w-full my-12 bg-slate-100 p-5">
    <div class="sm:w-2/5 sm:mr-5 sm:order-2 sm:ml-auto flex justify-center sm:justify-end">
      <img class="mb-5" src="/images/image034.jpg" class="max-w-full">
    </div>

    <div class="sm:w-3/5 pl-5 sm:pl-0 pr-5 sm:order-1">
      <div class="mb-5">
        <h2 class="font-bold mb-5 text-xl">Practice what you preach</h2>
        <p class="mb-5">A man called John Atherton was the first person to be hanged in Ireland under the 1533 law that had made gay sex illegal. He was an Anglican Bishop who had helped to widen and push for the law he called ‘An Act for the Punishment for the Vice of Buggery.’</p>
        <p class="mb-5">He was hanged for sodomy alongside his friend and assistant John Childe in 1640.</p>
        <h3 class="font-bold mb-5">Last to be hanged</h3>
        <p class="mb-5">The last two men to be hanged for homosexuality in the UK were John Smith & John Pratt in November 1835. They were convicted under section 15 of the Offences Against the Person Act 1828, which had replaced the Buggery Act. They were hanged at Newgate Prison, London. They were posthumously pardoned in 2017 under ‘Turing’s Law.’</p>
      </div>
    </div>
  </div>

  <img class="mb-5" src="/images/image035.jpg" class="max-w-full">

</div>

{% include footer.html %}