---
---
{% include head.html %}
  
{% include nav.html %}

<div class="max-w-screen-lg w-full mx-auto mt-12 sm:mt-24">
  <div class="px-5">
    <h1 class="font-yeseva text-6xl mb-12">Sexy History & Geography</h1>

    <div>
      <p class="mb-5">Sexy Stuff is regulated by your government, and things have not always been the same across time and place. Let’s have a brief look...</p>
      <h2 class="font-bold mb-5">Age of Consent: History UK</h2>
      <p class="mb-5">A long time ago, the age of female consent was aligned with the age at which you could get married, and with the age of puberty – specifically whether you were old enough to have a baby.</p>
      <p class="mb-5">In the year 1275, in England, the age of consent for females was set at 12 years old. There was no set age for males.</p>
      <p class="mb-5">In 1875 the age was raised to 13 years old. Ten years later in 1885 it was raised to 16.</p>
      <p class="mb-5">In 1929 it was set at 16 years old for females and heterosexual males. See below for details for Gay Men.</p>

      <h2 class="font-bold mb-5">Age of Consent: Around the World</h2>
      <p class="mb-5">On the day of writing this - 17th June 2023, the age of consent varies considerably around the world.</p>
      <p class="mb-5">In Nigeria it is 11 years old. In Angola and the Philippines it is 12.</p>
      <p class="mb-5">In Bahrain it is 21 years old.</p>
      <p class="mb-5">In Europe you can have consensual sex at the age of 14 if you are in Albania, Austria, Bulgaria, Estonia, Germany, Hungary, Italy, Montenegro, Portugal or Serbia.</p>
      <p class="mb-5">In all other countries, the age varies between 12 years old and 20.</p>
      <p class="mb-5">In some countries such as Iran, Libya, Pakistan, Qatar, Saudi Arabia, Yemen and Afghanistan you have to be married to have sex.</p>
      <p class="mb-5">You must remember that whatever your age, in countries where sex outside of marriage is illegal, the laws may apply to visitors too – so be cautious when you travel.</p>

      <h2 class="font-bold mb-5">Age of Consent in the United Kingdom</h2>
      <p class="mb-5">In the UK, people have to be 16 years old to have a sexual relationship. However, we have seen that some people drink from the love cup before that and we can’t pretend it doesn’t happen. So let’s look a little more closely at the situation…</p>
      <p class="mb-5">Here it is hot off the press from the Crown Prosecution Services Guidelines: Someone under 13 is not considered old enough to consent and it is therefore an offence to have sex. The Police and Social Services will take this very seriously.</p>

      <p class="mb-5">It is a criminal offence for anyone who is 16 or older to have any kind of sexual contact with someone aged 13, 14 or 15.</p>

      <h3 class="font-bold mb-5">Key points if you are over 13</h3>
      <p class="mb-5">Remember the law says you should be 16, but it’s clear from a number of research investigations over many years, that approximately 20% of people have had sex before that age. Regarding this, the Crown Prosecution Service (CPS) says:</p>
      <p class="mb-5">Consensual sexual activity would not normally require criminal proceedings in the absence of aggravating features.</p>
      <p class="mb-5">This means that neither of you should be coerced into sexual activity or encouraged or persuaded by others to do something you don’t really want to do.</p>
      <p class="mb-5">The CPS notes that: Relevant considerations include:</p>
      <ul class="list-disc mb-5 ml-8">
          <li>The respective ages of the parties</li>
          <li>The existence and nature of any relationship</li>
          <li>Their level of maturity</li>
          <li>Whether there was a serious element of exploitation</li>
      </ul>
      <p class="mb-5">In other words, if you are both of a similar age, you have a sound relationship, you behave like people who are old enough to make important decisions (including about sexual health and protection) and neither of you is exploiting the other – then it is unlikely but not impossible that you would be prosecuted.</p>
      <p class="mb-5">Even if you are 16 - It is a criminal offence for anyone in a position of trust in relation to anyone under the age of 18 to have any sexual contact with them.</p>
      <p class="mb-5">This means that if someone who has a position of authority or influence over you, such as a teacher, youth leader or religious representative, it is illegal for them to have sex with you if you are under 18 years old (even if you consent) – as they are in a position of trust.</p>

      <h2 class="font-bold mb-5">Advice and Help</h2>
      <p class="mb-5">If you are someone who is under sixteen and needs advice about the law and sex, you should ask your school nurse or another medical or teaching professional with personal, health and social or similar duties.</p>
      <p class="mb-5">Don’t be embarrassed, they deal with these things every day and can discuss the issue with you. You could also ask any other adult whom you trust and consider to have knowledge on the subject.</p>
      <p class="mb-5">Under Human Rights Law you have the right to privacy in these matters and this confidentiality can only be breached if it is ‘justified and proportionate’ – in other words, if someone thought you were in danger or that you are a victim of someone taking advantage of you.</p>
      <p class="mb-5">There are a number of helpful organisations that can advise you and they are listed below.</p>
    </div>
</div>

{% include footer.html %}