---
---
{% include head.html %}
  
{% include nav.html %}

<div class="max-w-screen-lg w-full mx-auto mt-12 sm:mt-24">
  <h1 class="font-yeseva text-6xl mb-5">The Law & Sexy Stuff</h1>

  <div>
    <p class="mb-5">If you are lucky enough to be having firky toodles with someone, remember there are rules – yes laws that are there to try and protect you.</p>
    <p class="mb-5">The first, and most important thing to say is...</p>
    <p class="mb-5 font-bold">You must only engage in sexy stuff if you are happily consenting and you are not being coerced or forced into things you don’t want to do.</p>
    <p class="mb-5">So if you have met someone that you’d like to share a bit of sauce with, you have to ensure that you and your partner are both in agreement, safe, happy and not doing something that could get you into trouble or could find upsetting or regret afterwards.</p>
    <p class="mb-5">Some of the rules and guidelines about sexy stuff are unclear, but here’s a brief overview.</p>
    <p class="mb-5">The current law in the UK is that if you are age 16 (the magic age !!) and over, and you understand what you are doing and consent to it, then you get the Green Light – go ahead and enjoy. If you are straight or gay or maybe like to bat for both teams then it’s fine to have a drop of sauce.</p>
  </div>  

  <div>
    <h3 class="font-yeseva text-2xl bold text-center my-12">Sixteen, the Magic Age</h3>
    <p><img src="/images/image032.png" class="text-center mx-auto"></p>
    <h3 class="font-yeseva text-2xl bold text-center my-12">Your Life Begins at Sweet Sixteen</h3>
    <p class="mb-5">Obviously you may want to wait until you are older and lots of people do.</p>
    <p class="mb-5">A YouGov Survey in 2023 found that 19% of people had sex before they were sixteen. Which means most people are over sixteen when they embark on the sexy course.</p>
    <p class="mb-5">The same poll found that the median age to have sex for the first time was seventeen. And “Women are noticeably more likely than men to have first sex at age 16 (21% vs 13%).”</p>
    <p class="mb-5">Let’s say it again- you both have to be able to consent, which means that neither of you should be clouded with alcohol, drugs or anything else that can mean you are not thinking clearly.</p>
    <p class="mb-5">Observation from Lily Rabble:</p>
    <p class="mb-5">The sauce is much better when your head is clear, you can concentrate on the job at hand and enjoy it more. A love hangover is better than any other sort.</p>
  </div>
</div>

{% include footer.html %}