---
---
{% include head.html %}
  
{% include nav.html %}

<div class="max-w-screen-lg w-full mx-auto mt-12 sm:mt-24">
  <h1 class="font-yeseva text-6xl ml-5 sm:ml-0 mb-12">When You Need Help</h1>

  <div>
    <p class="mb-5">In reality it may be the case that you and your partner have got together before the age of sixteen and may need some help to make sure that you are safe and healthy.</p>

    <ul class="list-disc pl-5 mb-5">
        <li class="mr-5"><a href="https://www.bbc.co.uk/news/world-43822234" class="text-blue-500" target="_blank">BBC News</a></li>
        <li class="mr-5"><a href="https://www.letstalkaboutit.nhs.uk/directory-of-services/support-for-young-people/" class="text-blue-500" target="_blank">Support for Young People</a></li>
        <li class="mr-5"><a href="https://www.cps.gov.uk/legal-guidance/rape-and-sexual-offences-chapter-13-sexual-offences-and-youths" class="text-blue-500" target="_blank">CPS Guidance on Sexual Offences</a></li>
        <li class="mr-5"><a href="https://www.letstalkaboutit.nhs.uk/directory-of-services/sexual-assault/consent/" class="text-blue-500" target="_blank">Consent Information</a></li>
    </ul>

    <p class="mb-5">***** For further details on these issues, you may want to look at the following web pages.</p>

    <ul class="list-disc pl-5 mb-5">
        <li class="mr-5"><a href="https://www.parliament.uk/about/living-heritage/transformingsociety/private-lives/relationships/overview/sexuality20thcentury/" class="text-blue-500" target="_blank">Parliament Overview of Sexuality in the 20th Century</a></li>
        <li class="mr-5"><a href="https://www.thepinknews.com/2022/02/10/uk-lesbian-ban-lgbt-history/" class="text-blue-500" target="_blank">Pink News on LGBT History</a></li>
        <li class="mr-5"><a href="https://www.ageofconsent.net/world" class="text-blue-500" target="_blank">Age of Consent Worldwide</a></li>
        <li class="mr-5"><a href="https://www.healthforteens.co.uk/sexual-health/the-law-and-consenting-to-sex-just-the-facts-2/" class="text-blue-500" target="_blank">Health for Teens on Consent</a></li>
        <li class="mr-5"><a href="https://yougov.co.uk/society/articles/45313-what-age-did-britons-lose-their-virginity" class="text-blue-500" target="_blank">YouGov on Virginity Age</a></li>
    </ul>
  </div>

</div>

{% include footer.html %}