    <footer class="mt-auto">
      <div class="flex max-w-screen-xl mx-auto mt-24 h-48 bg-black">
        <div class="w-1/4 sm:w-1/2 p-5 sm:p-8 text-white">
          <h4 class="font-yeseva text-3xl mb-5">Social</h4>
          <ul>
            <li class="mb-2">Facebook</li>
            <li class="mb-2">Instagram</li>
            <li class="mb-2">Twitter</li>
          </ul>
        </div>

        <div class="w-3/4 sm:w-1/2 p-5 sm:p-8 text-white text-right">
          <h4 class="font-yeseva text-3xl mb-5">Contact</h4>
          <ul>
            <li class="mb-2">enquiries@lilyrabble.co.uk</li>
            <li class="mb-2"><a href="#">Privacy</a></li>
          </ul>
        </div>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
  </body>
</html>