<nav class="bg-white border-gray-200 dark:bg-gray-900 dark:border-gray-700">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="/images/logo.png" class="h-8" alt="Lily Rabble" />
    </a>
    <button data-collapse-toggle="navbar-dropdown" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-dropdown" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15">
        </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto z-10" id="navbar-dropdown">
      <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a href="/" class="block py-2 px-3 rounded md:bg-transparent md:text-gray-700 md:p-0 md:dark:text-blue-500 dark:bg-blue-600 md:dark:bg-transparent" aria-current="page">Home</a>
        </li>
        <li>
            <a href="#" id="dropdownNavbarLink" data-dropdown-toggle="dropdownAuthor" data-dropdown-trigger="hover" class="flex items-center justify-between w-full py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">Author</a>
            
            <!-- Dropdown menu -->
            <div id="dropdownAuthor" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                  <li>
                    <a href="/author/author-notes" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Author Notes</a>
                  </li>
                  <li>
                    <a href="/author/recipe-for-a-sexyetta" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Recipe for a Sexyetta</a>
                  </li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#" id="dropdownNavbarLink" data-dropdown-toggle="dropdown1970s" data-dropdown-trigger="hover" class="flex items-center justify-between w-full py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">1970s</a>
            
            <!-- Dropdown menu -->
            <div id="dropdown1970s" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                  <li>
                    <a href="/1970s/food" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Food</a>
                  </li>
                  <li>
                    <a href="/1970s/homes" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Homes</a>
                  </li>
                  <li>
                    <a href="/1970s/school" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">School</a>
                  </li>
                  <li>
                    <a href="/1970s/pass-times" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Pass Times</a>
                  </li>
                  <li>
                    <a href="/1970s/attitudes-approaches-to-life" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Attitudes & Approaches to Life</a>
                  </li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#" id="dropdownNavbarLink" data-dropdown-toggle="dropdownMusic" data-dropdown-trigger="hover" class="flex items-center justify-between w-full py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">Magical Music</a>

            <!-- Dropdown menu -->
            <div id="dropdownMusic" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                  <li>
                    <a href="/magical-music/top-ten-mixed-tape-favourites" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Top Ten and Mixed Tape Favourites</a>
                  </li>
                  <li>
                    <a href="/magical-music/genre" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Genre</a>
                  </li>
                  <li>
                    <a href="/magical-music/psychology-of-music" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">The Psychology of Music</a>
                  </li>
                  <li>
                    <a href="/magical-music/music-and-nostalgia" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Music and Nostalgia</a>
                  </li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#" id="dropdownNavbarLink" data-dropdown-toggle="dropdownBooks" data-dropdown-trigger="hover" class="flex items-center justify-between w-full py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">Literary Love</a>

            <!-- Dropdown menu -->
            <div id="dropdownBooks" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                  <li>
                    <a href="/literary-love/top-ten-recommendations" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Top Ten & Recommendations</a>
                  </li>
                  <li>
                    <a href="/literary-love/book-tales-1-second-hand" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Book Tales 1 Second hand</a>
                  </li>
                  <li>
                    <a href="/literary-love/book-tales-2-childrens-books" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Book Tales 2 Children's Books</a>
                  </li>
                  <li>
                    <a href="/literary-love/book-tales-3-books-in-other-languages" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Book Tales 3 Books in other Languages</a>
                  </li>
                  <li>
                    <a href="/literary-love/book-tales-4-graphic-books" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Book Tales 4 Graphic Books</a>
                  </li>
                  <li>
                    <a href="/literary-love/book-tales-5-books-into-films" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Book Tales 5 Books Into Films</a>
                  </li>
                  <li>
                    <a href="/literary-love/poetry" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Poetry</a>
                  </li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#" id="dropdownNavbarLink" data-dropdown-toggle="dropdownSafety" data-dropdown-trigger="hover" class="flex items-center justify-between w-full py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">Serious Sexy</a>

            <!-- Dropdown menu -->
            <div id="dropdownSafety" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                  <li>
                    <a href="/serious-sexy/the-law-sexy-stuff" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">The Law & Sexy Stuff</a>
                  </li>
                  <li>
                    <a href="/serious-sexy/sexy-history-geography" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sexy History & Geography</a>
                  </li>
                  <li>
                    <a href="/serious-sexy/same-sex-sauce" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Same Sex Sauce</a>
                  </li>
                  <li>
                    <a href="/serious-sexy/sexy-health-happiness" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sexy Health & Happiness</a>
                  </li>
                  <li>
                    <a href="/serious-sexy/when-you-need-help" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">When You Need Help</a>
                  </li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#" id="dropdownNavbarLink" data-dropdown-toggle="dropdownLondon" data-dropdown-trigger="hover" class="flex items-center justify-between w-full py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">Starry Stuff</a>

            <!-- Dropdown menu -->
            <div id="dropdownLondon" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                  <li>
                    <a href="/starry-stuff/famous-astronomers" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Famous Astronomers</a>
                  </li>
                  <li>
                    <a href="/starry-stuff/mathematics-in-your-life" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Mathematics in your life</a>
                  </li>
                  <li>
                    <a href="/starry-stuff/what-the-ancients-did-for-us" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">What the Ancients did for us</a>
                  </li>
                  <li>
                    <a href="/starry-stuff/film" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Starry Stuff: Film</a>
                  </li>
                  <li>
                    <a href="/starry-stuff/literature" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Starry Stuff: Literature</a>
                  </li>
                  <li>
                    <a href="/starry-stuff/art-architecture" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Starry Stuff: Art & Architecture</a>
                  </li>
                  <li>
                    <a href="/starry-stuff/belief" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Starry Stuff: Belief</a>
                  </li>
                </ul>
            </div>
        </li>
        <li>
          <a href="/events-contact" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Events & Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>