---
---
{% include head.html %}
  
{% include nav.html %}

<div class="max-w-screen-lg w-full mx-auto mt-12 sm:mt-24">
  <div class="px-5">

    <h1 class="font-yeseva text-6xl mb-5">Book Tales 1</h1>
    <h2 class="font-yeseva text-4xl mb-12">Second hand books - more than the story</h2>

    <div>
      <p class="mb-5">Many years ago in about 1982 when Lil was 19 years old she went to a second-hand book sale in the basement of a church. She noticed a little book tucked in amongst shelves that changed her reading life.</p>
      <p class="mb-5">The book's title was : <strong>Adventures of Don Quixote</strong></p>
      <p class="mb-5">The book was small and tatty around the edges, she picked it up and it felt welcoming and happy in her hand. She opened it up, what a perfect, lovely little book. Although it was a little frayed and faded, it felt perfect … it smelt warm too.</p>
      <p class="mb-5">Let's look inside…</p>

      <p class="mb-5">The book had been the 'Property of Hampton Grammar School', two pupils had used it in 1949 & 1950. The pupils were in forms IIA & IIB which is the same as saying year 8 now which means they were about 12-13 years old when they read the book. Would pupils this age read the book now or would they think it was old fashioned? Or too difficult? What does the book tell us about the way children's reading may have changed over the last 75 years? The book is part of the reading history of British school children.</p>
      <p class="mb-5">What more can we learn from the book?</p>
    </div>

    <div class="flex flex-col sm:flex-row w-full">
      <div class="sm:w-1/2 px-5 sm:px-0">
        <p class="mb-5">The book was one of a collection called The Kings Treasuries of Literature, which was a series published from about 1920 to 1950.</p>
        <p class="mb-5">At least two hundred books were published  in the series and The Adventures of Don Quixote was No.64 </p>
        <p class="mb-5">Lil had never heard of the book before but there was something comforting about it and she turned another page. The double spread in front of her was decorated with leaves and swirls and opposite the title was a picture of the author - Cervantes.</p>
      </div>
      <div class="w-1/2">
        <img class="mb-5 sm:mb-12" src="../images/carousel-1.jpg">
      </div>
    </div>

    <div class="flex flex-col sm:flex-row w-full">
      <div class="sm:w-1/2 px-5 sm:px-0">
        <p class="mb-5">Cervantes looked like an Elizabethan explorer, his coiffed beard and frilled collar gave him the air of a well travelled man. But to be honest there is no evidence that this picture is actually of the man himself. </p>
      </div>
      <div class="w-1/2">
        <img class="mb-5 sm:mb-12" src="../images/carousel-1.jpg">
      </div>
    </div>

    <div>
      <p class="mb-5 font-bold">Who was Cervantes?</p>
      <p class="mb-5">He was born in 1547 about 30km from Madrid.</p>
      <p class="mb-5">In 1569 he fought a duel and afterwards had to leave quickly, he found his way to Rome.</p>
      <p class="mb-5">In 1570 he joined the Spanish Navy infantry and was wounded in the Battle of Lepanto in 1571 losing the use of his left hand.</p>
      <p class="mb-5">In 1575 he was captured by Barbary Pirates (Ottoman Corsairs) and imprisoned in Algiers for five years, it is here that he started to write Don Quixote.</p>
      <p class="mb-5">He died in Madrid in 1616 at age 68.</p>
      <p class="mb-5">The first page of the contents list said that Don Quixote was a 'renowned hero', there were mentions of the 'Knights misfortune' and the 'Adventure of the Windmills' and the 'Grand adventure of Mambrino's helmet' – it all sounded very exciting.</p>
      <p class="mb-5">Lil paid for the book and took it home, she opened the first page:</p>
      <p class="mb-5"><strong>Chapter 1: The quality and manner of life of the renowned hero.</strong></p>
      <p class="mb-5">“Down in a village of La Mancha, the name of which I have no desire to recollect, there lived, not long ago, one of those gentleman who usually kept a lance upon a rack, and old buckler, a lean stallion and a coursing greyhound…”</p>
      <p class="mb-5">She continued reading and kept going all day until she got to the end.</p>
      <p class="mb-5">Then she read it again. And has read it many many times over the past forty years.</p>
      <p class="mb-5">There are many versions of the book and some of them are very big, the most recent one she bought is about a thousand pages long, and she loves all of them. But her favourite is still this small version that is a collection of some of the most famous parts of the story.</p>
    </div>

    <div class="flex flex-col sm:flex-row w-full">
      <div class="sm:w-2/3 px-5 sm:px-0">
        <p class="mb-5">The book has been translated into about 140 languages.</p>
        <p class="mb-5">It has sold around 500 million copies worldwide.</p>
        <p class="mb-5">It was published in two parts: Part 1 in 1605 & Part 2 in 1615.</p>
        <p class="mb-5">It is considered to be the <strong>'first modern novel'</strong> and the <strong>'greatest work of fiction ever written'</strong>.</p>
        <p class="mb-5">And Lil bought it for just 20p - Yes 20 English pence in 1982, which according to the good old Bank of England is worth £1.11 in 2024. Imagine - a lifetime of reading for less than a bar of chocolate.</p>
        <p class="mb-5">Most importantly that book led to other books and before you know it, she found other authors like Francois Rabelais and Laurence Stern and…. Well too many to mention.</p>
        <p class="mb-5">Observation: Don't be snobby about books, don't only go for the glossy, new, shiny ones – second hand books can be the best, not just enjoyable for the stories themselves but for the other associated things. Like knowing what school children were reading many years ago, like seeing another world in another time, and like the texture and smell of an old book.</p>
        <p class="mb-5">In the back of the book there are some exercises for the pupils to answer, and they look just like some of the things that children have to do nowadays.</p>
        <p class="mb-5">The book connects us to the children of the past…. I wonder what the teacher in 1949 would think of Lil's answers.</p>
        <p class="mb-5">Maybe children still read this story, Lil hopes so because it is great!</p>
      </div>
      <div class="w-1/3">
        <img class="mb-5 sm:mb-12" src="../images/carousel-1.jpg">
      </div>
    </div>
  </div>
</div>


  
{% include footer.html %}