---
---
{% include head.html %}
  
{% include nav.html %}

<div class="max-w-screen-lg w-full mx-auto mt-12 sm:mt-24">
  <h1 class="font-yeseva text-6xl ml-5 sm:ml-0 mb-5">Book Tales 4</h1>
  <h2 class="font-yeseva text-4xl ml-5 sm:ml-0 mb-12">Graphic Books</h2>

  <div>
    <p class="mb-5">When you are browsing in a book shop you may see the section entitled: Graphic Novels</p>
    <p class="mb-5">People are often put off by this description and walk on by thinking it's all Batman and Manga but I say stop, look, linger and investigate further because it's much more than that. If you look closely you will see graphic novel shelves include a host of great books of all genres.</p>
    <p class="mb-5">Graphic books are books that tell their story through illustration, it is just a form of storytelling in pictorial form using artwork instead of prose. The subject can be anything: fiction or non-fiction such as a history or biography.</p>
    <p class="mb-5">There are some people who are very snooty about graphic narratives, saying that they are not real books or they are for children – but this is nonsense.</p>
    <p class="mb-5">Graphic stories go back to the beginning of human existence, just think of ancient cave paintings or Hieroglyphics in Ancient Egypt. One of the best known graphic stories is the telling of the Battle of Hastings and the Norman Conquest in 1066, depicted in the Bayeux Tapestry. Look below, here we see the Normans making their way across the English Channel…</p>
    <p class="mb-5">We don't need words to know what's going on do we?</p>
    <p class="mb-5">And below is King Harold being struck with an arrow into his eye and we all know that soon after he died because the tapestry shows him slumped over his horse about to fall to his death.</p>
    <p class="mb-5">This is one of the most famous episodes in British history and millions of people have learnt about this episode through a graphic narrative. Most people cannot travel to France to see the tapestry but fortunately someone has gone to the effort of reproducing it in a book:</p>
    <p class="mb-5">It's described as a comic strip but don't be put off, it's history - REAL HISTORY - told in a different form.</p>
    <p class="mb-5">So Graphic Novels can be FICTION and NON FICTION</p>
    <p class="mb-5">Other names that describe graphic narrative are:</p>

    <ul class="list-disc list-inside mb-5">
      <li>SEQUENTIAL ART</li>
      <li>COMIC STRIP</li>
      <li>VISUAL STORY TELLING</li>
      <li>ILLUSTRATED STORIES</li>
    </ul>

    <p class="mb-5">Graphic narratives are not the same as comic books:</p>
    <ul class="list-disc list-inside mb-5">
      <li>GRAPHIC NARRATIVES ARE USUALLY LONGER THAN COMIC BOOKS.</li>
      <li>GRAPHIC NARRATIVES ARE COMPLETE STORIES</li>
    </ul>

    <p class="mb-5">Remember…</p>
    <p class="mb-5 font-bold">GRAPHIC NARRATIVES ARE NOT A GENRE - THEY ARE A STYLE</p>
    <p class="mb-5">Graphic narratives can be used to tackle serious issues, and help readers to access stories that may be densely written in other forms. They are not just for superheroes</p>
    <p class="mb-5">Here are three of Lil's favourites…</p>
  </div>

  <h3 class="text-xl font-bold mb-2">Autobiographical: </h3>
  <p class="font-bold mb-5">Persepolis  by Marjane Satrapi  (2006)</p>
  <div class="flex flex-col sm:flex-row w-full">
    <div class="sm:w-2/5 sm:mr-5 sm:order-2">
      <img class="mb-5" src="../images/carousel-1.jpg">
      <img class="mb-5" src="../images/carousel-1.jpg">
      <img class="mb-5" src="../images/carousel-1.jpg">
      <img class="mb-5" src="../images/carousel-1.jpg">
      <img class="mb-5" src="../images/carousel-1.jpg">
    </div>

    <div class="sm:w-3/5 pl-5 sm:pl-0 pr-5 sm:order-1">
      <p class="mb-5">Persepolis is what the ancient capital of the Persian Empire was called. It is a series of autobiographical graphic stories by Marjane Satrapi. The stories show what her childhood and early adult years were like in Iran and Austria during and after the Islamic Revolution. It is a brilliant illustration of one woman’s life growing up during the time of the Revolution. Persepolis helps us to understand many things about one of the most dramatic and famous episodes in world history.</p>

      <p class="mb-5">If you have read Rabble’s Travels you may know that Lil worked on a ship in the Persian Gulf in 1979-80 at the time a Revolution happened in Iran. Her shipping company employed many cadets and officers from Iran and sometimes cadets on her ships had discussions and occasionally disagreements about what was going on in their homeland and it was difficult to have a good understanding of the situation.</p>

      <p class="mb-5">If only Lil had this book to read at the time, she would have been able to understand more of the history leading up to The Revolution. For example, in this one page it can be seen that according to Marjane’s Father, Iran has had “2500 years of tyranny and submission.” The Revolution changed the way that people had to live; for example, girls in school had to wear the veil and her very first page shows us how the girls responded to this new requirement.</p>

      <p class="mb-5">Satrapi shows us about human relationships more widely – in this page she considers the differing views and lifestyle between herself and her boyfriend; most people can relate to this!</p>

      <p class="mb-5">This one book can tell us much about the history of Iran, The Revolution, and how life was for normal Iranian families.</p>

      <p class="mb-5">Format: The book is drawn in bold black and white simply styled pictures and tells the story through the characters' voices.</p>

    </div>
  </div>

  <h3 class="text-xl font-bold mb-2">Biographical: </h3>
  <p class="font-bold mb-5">Magical Life of Long Tack Sam  (2007)</p>
  <div class="flex flex-col sm:flex-row w-full">
    <div class="sm:w-2/5 sm:mr-5 sm:order-2">
      <img class="mb-5" src="../images/carousel-1.jpg">
      <img class="mb-5" src="../images/carousel-1.jpg">
      <img class="mb-5" src="../images/carousel-1.jpg">
    </div>

    <div class="sm:w-3/5 pl-5 sm:pl-0 pr-5 sm:order-1">
      <p class="mb-5">This is one of Lil’s Top Ten books. It is an incredible story of a Chinese Circus Artist and his family as they travelled the world around the turn of the 19th – 20th centuries. The family were extremely talented circus performers and the many photographs display their skills. The story is embedded in international events such as the Second World War and upheaval in China.</p>

      <p class="mb-5">This book was bought by Lil in a little bookshop in Canada; wherever she goes, the first thing she does is look for a book shop. This was one of her very best finds. The book is remarkable in two ways: the story of LongTack Sam in itself is amazing, and the style in which the book is presented makes it one of the interesting, wonderful books you will ever read.</p>

      <p class="mb-5">Format: Full Colour, sequential story told utilising photographs, the author’s sketches, written notes and dialogue bubbles, complimented by copies of original posters and documentation.</p>
    </div>
  </div>

  <p class="font-bold mb-5">Woman's world, Graham Rawle</p>
  <div class="flex flex-col sm:flex-row w-full">
    <div class="sm:w-2/5 sm:mr-5 sm:order-2">
      <img class="mb-5" src="../images/carousel-1.jpg">
      <img class="mb-5" src="../images/carousel-1.jpg">
      <img class="mb-5" src="../images/carousel-1.jpg">
    </div>

    <div class="sm:w-3/5 pl-5 sm:pl-0 pr-5 sm:order-1">
      <p class="mb-5">Woman's World is the title of a 2005 novel by Graham Rawle. It is unique for having been created entirely from fragments of text clipped from 1960s women's magazines.</p>
      
      <p class="mb-5">The book describes itself (in its subtitle) as "a graphic novel", but anyone expecting a graphic novel in the comic book tradition will be surprised: the novel is a graphic novel in the sense that it has been constructed visually from cutouts of various '60s women's magazines. The medium of the novel creates different layers of meaning within the plot, leading to insightful, hilarious, and often heartbreaking moments.</p>
      
      <p class="mb-5">Format: The story is told utilising hundreds of fragments from vintage women’s magazines which he has cut and paste into a continuous story. The author has cut individual word strings and pictures and placed them in order to create his text.</p>
    </div>
  </div>
  
</div>

{% include footer.html %}