---
---
{% include head.html %}
  
{% include nav.html %}

<div class="max-w-screen-lg w-full mx-auto mt-12 sm:mt-24">
  <h1 class="font-yeseva text-4xl sm:text-6xl ml-5 sm:ml-0 mb-12">Books Top Ten & Recommendations</h1>

  <div class="flex flex-col sm:flex-row w-full">
    <div class="sm:w-2/3 px-5 sm:px-0">

      <p class="mb-5">No one loves to read more than Lily Rabble. Lil has been a reader from a very young age and is one of those really annoying people who will read a cereal packet if there’s one in front of her. It’s true, if she came to visit you she would say hello, walk past you and pick up your books, your newspaper and your old bus ticket and look at them rather than talk to you. When she was young, her mum banned books from being on show in the house as they ‘looked messy’, so books become not only a joy to read but a site of resistance – Lil kept them secretly under her pillow, in cupboards, under the bed and anywhere they could not be seen. She would spend hours in the local libraries and secretly reading at night, she made her way through hundreds of books of all genres as she grew up.</p>
      <p class="mb-5">Nowadays she can have as many books as she likes, her house is filled with them and she even has to keep about three thousand in a storage depot. She goes up to sit with them, to inhale them, to touch them and ponder over life. She loves everything about books, their feel, their smell, their connection to other worlds across time and space.</p>
      <p class="mb-5">Lil frequently buys second hand books because they are cheaper, and often the book she wants to read is out of print. Second hand books are a joy, they have unique smells and qualities. One of the best things about second hand books is that they can give you a tangible connection to the past, you may find an inscription or notes that the last reader has written. Many second hand books have been withdrawn from libraries and schools that have been long closed and they tell an additional story to the one that’s inside. Sometimes old books have messages inside like Happy Birthday or I Love you….</p>
      <p class="mb-5">Here are some of Lil’s favourites books out of the thousands she has read. These are some of the books that she reread as she was writing her story. Lil welcomes any suggestions from other book lovers, please email with recommendations and favourite book thoughts.</p>

      <h2 class="text-2xl font-bold mb-4">Lil’s Super Favourite Books</h2>
      <ul class="list-none list-inside mb-5 space-y-2">
        <li><strong>The Little Prince</strong> - Antoine de Saint-Exupéry (1943): <br>The most perfect book ever written. Beautiful story that goes to the very heart of human existence. Exquisite, gentle artwork that is expressive of the authors and all human vulnerability.</li>
        <li><strong>Gargantua & Pantagruel</strong> - Francois Rabelais (1532-1564): <br>Lil has six versions of this book! – every different translation brings out new meanings and understandings. Rabelais is the person Lil would like most to have dinner with.</li>
        <li><strong>Calypso in London</strong> - Sam Selvon (1957): <br>This collection of short stories is divided into two sections – those set on Trinidad and those in London. All are evocative and observant. Sam captures London like no one else, his stories are gentle yet amusing.</li>
        <li><strong>Don Quixote</strong> - Miguel de Cervantes (part 1:1605 & part 2:1615): <br>Hilarious and playful yet poignant, Lil has a few versions of this book, all have their own merit. The first copy Lil ever had was a small second hand collection of the most popular tales – she still dips into it after forty years of owning it.</li>
        <li><strong>Fanny Hill: Memoirs of a Woman of Pleasure</strong> - John Cleland (1748): <br>The masterpiece of euphemism and saucy suggestion! This infamous and often banned book is considered to be the first erotic novel, scandalous but fun.</li>
        <li><strong>Cosmicomics</strong> - Italo Calvino (1965): <br>A striking collection of related short stories that are often described as science fiction but for Lil have a more existentialist meaning.</li>
        <li><strong>Burglar Bill</strong> - Janet & Allan Ahlberg (1977): <br>An excellent, whimsical tale of baddies finding their way to an honest life – brilliant illustrations.</li>
        <li><strong>The Magical Life of Long Tack Sam: An illustrated memoir</strong> - Ann Marie Fleming (2007): <br>Absolutely fantastic graphic biography of a Chinese acrobat & magician. Amazing & incredible - has to be seen in real life!</li>
        <li><strong>Dictionaries & Thesaurus’</strong> - <br>any books about words: I know it’s cheating to put this type of book as a collection of one, but Lil really loves books about words and couldn’t choose only one.</li>
        <li><strong>The 87th Precinct Stories</strong> - Ed McBain: <br>The master of detective fiction. There are over fifty 87th Precinct books and once you start to read them you become part of the squad. Set in Isola (a barely disguised New York), you join the Precinct as they solve a multitude of murders and other crimes in the city, whilst getting to know the cops and their families as you go along. There are about fifty books in the series and Lil read nearly all of them when she was about fifteen years old and still feels like she was one of the squad. Try and read in some sort of order so that you get to know the characters as they are developed.</li>
      </ul>

      <h2 class="text-2xl font-bold mb-4">Poetry</h2>
      <p class="mb-5">Poetry is difficult to recommend, Lil loves the poets listed below but there are many more…. Too numerous to mention here.</p>
      <ul class="list-none list-inside mb-5 space-y-2">
        <li><strong>John Donne</strong> - Love’s Alchemy & Selected Poems</li>
        <li><strong>Alfred Lord Tennyson</strong> - In Memoriam A.H.H (1850) & Maud; A Monodrama part XXII (1855)</li>
        <li><strong>Samuel Taylor Coleridge</strong> - Rime of the Ancient Mariner (1798)</li>
        <li><strong>William Wordsworth & Coleridge</strong> - Lyrical Ballads</li>
        <li><strong>Sappho</strong> - Stung with Love: Poems and Fragments (Circa 600+ BCE)</li>
        <li><strong>William Butler Yeats</strong> - Leda and the Swan (1923)</li>
        <li><strong>Metaphysical Poetry</strong> - (Penguin collection)</li>
        <li><strong>John Betjeman</strong></li>
      </ul>

      <h2 class="text-2xl font-bold mb-4">Coming of Age – Lil’s favourite genre</h2>
      <ul class="list-none list-inside mb-5 space-y-2">
        <li><strong>Catcher in the Rye</strong> - JD Salinger (1945)</li>
        <li><strong>Buddha Da</strong> - Anne Donovan (2003)</li>
      </ul>

      <h2 class="text-2xl font-bold mb-4">Sciency Stuff</h2>
      <p class="mb-5">Lil loves a bit of science</p>
      <ul class="list-none list-inside mb-5 space-y-2">
        <li><strong>Synchronicity</strong> - C.G Jung</li>
        <li><strong>The Art of Stargazing</strong> (2023) - Dr Maggie Aderin-Pocock</li>
        <li><strong>Time: 10 Things You Should Know</strong> (2021) - Colin Stuart</li>
        <li><strong>Numbers: 10 Things you should Know</strong> (2022) - Colin Stuart</li>
        <li><strong>Space: 10 things you should Know</strong> (2019) - Dr Becky Smethurst</li>
        <li><strong>The Golden Age of Arabic Science</strong> - Jim Al-Khalili</li>
        <li><strong>Heavenly Mathematics: The Forgotten Art of Spherical Trigonometry</strong> - Glen Van Brummelan: Not an easy read for the beginner but Lil loves it</li>
        <li><strong>Basic Astronomy</strong> - H. Haysham (1971)</li>
      </ul>

      <h2 class="text-2xl font-bold mb-4">LGBT</h2>
      <p class="mb-5">Lil loves all of these books.</p>
      <ul class="list-none list-inside mb-5 space-y-2">
        <li><strong>Love Leda</strong> - Mark Hyatt: A beautiful, simple story set in Soho in the 1960s when it was taboo to be gay and many people were living on the breadline. Fascinating snapshot of London still in a postwar state.</li>
        <li><strong>Transformer: A Story of Glitter, Glam Rock and Loving Lou Reed</strong> - Simon Doonan: Hilarious camp story that resonated with Lil, reminding her of a couple of good friends from long time ago.</li>
        <li><strong>Three books by Paul Baker:</strong>
          <ul class="list-none list-inside ml-5 space-y-2">
            <li><strong>Fabulosa</strong>: Great book about Polari, the language of a hidden world.</li>
            <li><strong>Camp</strong>: Paul attempts to analyse what Camp means, it’s almost impossible but he has a good go!</li>
            <li><strong>Outrageous: The Story of Section 28 and Britain’s battle for LGBT education</strong>: Somehow Paul writes about a sad and tragic episode in British Life with a hint of humour – essential reading for anyone who doesn’t remember these dark times.</li>
          </ul>
        </li>
        <li><strong>Giovanni’s Room</strong> - James Baldwin (1956)</li>
        <li><strong>Our Lady of the Flowers</strong> - Jean Genet (1943)</li>
        <li><strong>James and John: A True Story of Prejudice and Murder</strong> - Chris Bryant MP (2024): Fascinating and sobering read. In addition to the core story of the last two men who were hanged for being gay, it is a brilliantly researched snapshot of London Life in the 1830s.</li>
      </ul>

    </div>
  </div>
</div>
  
{% include footer.html %}