---
---
{% include head.html %}
  
{% include nav.html %}

<div class="max-w-screen-lg w-full mx-auto mt-12 sm:mt-24">
  <h1 class="font-yeseva text-6xl ml-5 sm:ml-0 mb-12">Lily Rabble</h1>

  <div class="flex flex-col sm:flex-row w-full">
    <div class="sm:w-3/5 pl-5 sm:pl-0 pr-5 order-1 sm:order-1">
      <p class="mb-5">Lily was born in north London, her first home was a one bedroom flat in which she lived with her two sisters and Mum & Dad. They all shared the bedroom which was demarcated by a plastic screen with children one side and parents the other. The toilet was at the end of the garden in which there was, strangely - a fountain in which she was allowed to play on hot days!</p>

      <p class="mb-5">Lil’s dad was a labourer and minor gangster but wanted to be a poet. Her mum had a huge beehive and thought books were messy and a waste of time – which of course made them very attractive to Lil. Despite her Mum banning books, she has been an obsessive reader since Old Betty upstairs taught her the alphabet when babysitting. Soon after learning to read she began to write. She has written so many things over so many years that she could have produced a moderately sized library but never had the confidence or know how to publish.</p>

      <p class="mb-5">You will see from her book that her life in working class London instilled in her the disposition of a geezerette, an outlook which has never really been smoothed over despite reaching the dizzy heights of academia at one point. She departed from cerebral employment a few years ago as it appeared to be treacherous and too political although she loved teaching and working with the students.</p>

      <p class="mb-5">She has always had a fair old hint of wild about her – which still exists despite all that has passed (too much to note here). She is two people: wild party girl and seriously minded obsessive book person. She is also water - having lived on ships, an old yacht and a houseboat, and only feels truly at peace when on or in the water.</p>

      <p class="mb-5">She was one of the first women who ever went to sea in the UK Merchant Navy and spent time travelling between West Africa and Europe, often the only woman on board ship. On leaving the sea she had many different jobs including working in a brewery, a fashion house, swimming coach, beach lifeguard and later in life worked as a teacher, lecturer and researcher. She has had a licence to drive a hovercraft, a yacht and an oil tanker.</p>

      <p class="mb-5">One aspect of her life that has been constant is her love of writing – all sorts of things: mostly observing people, situations and the ebb and flow of life. A few years ago she completed a PhD which she enjoyed doing but made her realise that we can’t do anything about the natural order of the human way.</p>

      <p class="mb-5">Music is a driving force for her, she is always listening to something across all genres and her life has been unconventional and unusual in a fairly extreme sort of way at times. People have often suggested that she should write about it and here she is all these years later doing so, spurred on by having a sense of running out of time and a desire to tell a story.</p>

      <p class="mb-5">She has completed The Travels of Rabble over the past year whilst recovering from unwellness and accident.</p>

      <p class="mb-5"><strong>Things she dislikes:</strong> Bores, takeaway food, virtue signallers, pedants and those who are risk averse and who cannot see the views of other people.</p>

      <p class="mb-5"><strong>Things she loves:</strong> Books, music, boats, meeting people who’ve travelled from afar, the sea, chocolate, sharing a drink and a dance. The natural world in all of its forms, clouds that look like feathers and all of the pets who keep us company.</p>

      <p class="mb-5"><strong>Closest to Death:</strong> When she nearly crashed her hovercraft in Southampton Water or at sea on a yacht in the famous storm of 1987.</p>

      <p class="mb-5"><strong>Closest to Life:</strong> Sailing, dancing, fishing for barracuda many years ago, watching hammerhead sharks, walking along the river, swimming in the sea.</p>
    </div>

    <div class="sm:w-2/5 sm:mr-5 sm:order-2 flex flex-col items-center order-2">
      <img class="mb-5" src="/images/image002.png">
      <img class="mb-5" src="/images/image005.png">
    </div>
  </div>

  <div class="sm:flex flex-wrap">
    <div class="sm:w-1/3 px-2">
      <img class="mb-5 w-full h-auto" src="/images/image001.jpg">
    </div>
    <div class="sm:w-1/3 px-2">
      <img class="mb-5 w-full h-auto" src="/images/image004.png">
    </div>
    <div class="sm:w-1/3 px-2">
      <img class="mb-5 w-full h-auto" src="/images/image006.png">
    </div>
    <div class="sm:w-1/3 px-2">
      <img class="mb-5 w-full h-auto" src="/images/image007.png">
    </div>
    <div class="sm:w-1/3 px-2">
      <img class="mb-5 w-full h-auto" src="/images/image008.png">
    </div>
  </div>
</div>
  
{% include footer.html %}