---
---
{% include head.html %}
  
{% include nav.html %}

<div class="max-w-screen-lg w-full mx-auto mt-12 sm:mt-24">
  <h1 class="font-yeseva text-6xl ml-5 sm:ml-0 mb-12">Recipe for a Sexyetta</h1>

  <div class="flex flex-col sm:flex-row w-full">
    <div class="sm:w-2/3 px-5 sm:px-0">

      <h2 class="text-2xl font-bold mb-4">Ingredients:</h2>
      <ul class="list-disc list-inside mb-5 space-y-2">
        <li>One confused human - female variety</li>
        <li>Suburban School</li>
        <li>Disco Tex</li>
        <li>Numerous house parties and discos</li>
        <li>Three Enjoyable Boyfriends</li>
        <li>Two Ships</li>
        <li>One Dinner and Dance</li>
        <li>One Grade A Delicious Lover</li>
        <li>Lots of Music</li>
        <li>Plenty of Observations on life</li>
      </ul>

      <h2 class="text-2xl font-bold mb-4">Method:</h2>
      <ol class="list-decimal list-inside mb-5 space-y-2">
        <li>Arrive as a baby in rough and ready land.</li>
        <li>Move to Semi-Detached Land</li>
        <li>Swim as much as you can</li>
        <li>Expose to dodgy stuff and a snooty mum</li>
        <li>Avoid a gun and an Afghan Coat</li>
        <li>Start engaging in saucy stuff</li>
        <li>Go to Sea</li>
        <li>Look at the Stars and the Moon</li>
        <li>Check the Tide Tables</li>
        <li>Add a hint of poetry</li>
        <li>Pile on a lot more sauce</li>
        <li>Swizzle it all Around</li>
        <li>Cook for Eighteen Years</li>
      </ol>

      <p class="mb-5">Your Sexyetta should be complete by then. Leave to cool down and then go and find some sexy stuff of your own.</p>
      <p class="mb-5"><strong>Please note:</strong> You can have any flavour you like, just add your own ingredients and blend as desired.</p>

    </div>
  </div>
</div>
  
{% include footer.html %}